@tailwind base;
@tailwind components;
@tailwind utilities;

header {
    @apply bg-white;
    @apply shadow;
}

header > div {
    @apply max-w-7xl;
    @apply mx-auto;
    @apply py-6;
    @apply px-4;
    @apply sm:px-6;
    @apply lg:px-8;
}

button {
    @apply bg-blue-500;
    @apply hover:bg-blue-700;
    @apply text-white;
    @apply font-bold;
    @apply py-2;
    @apply px-4;
    @apply rounded;
    @apply focus:outline-none;
}

header > div > h1 {
    @apply text-3xl;
    @apply font-bold;
    @apply text-gray-900;
}

h2 {
    @apply text-2xl;
    @apply font-bold;
    @apply text-gray-900;
}

.nav__link {
    @apply text-gray-300;
    @apply hover:bg-gray-700;
    @apply hover:text-white;
    @apply px-3;
    @apply py-2;
    @apply rounded-md;
    @apply text-sm;
    @apply font-medium;
}

.nav__link--active {
    @apply bg-gray-900;
    @apply text-white;
}

table.dataGrid {
    @apply my-3;
    @apply min-w-full;
    @apply divide-y;
    @apply divide-gray-200;
}

table.dataGrid thead {
    @apply bg-gray-50;
}

table.dataGrid thead th {
    @apply px-6;
    @apply py-3;
    @apply text-left;
    @apply text-xs;
    @apply font-medium;
    @apply text-gray-500;
    @apply uppercase;
    @apply tracking-wider;
    @apply cursor-pointer;
}

table.dataGrid tbody {
    @apply bg-white;
    @apply divide-y;
    @apply divide-gray-200;
}

table.dataGrid tbody td {
    @apply px-6;
    @apply py-4;
    @apply whitespace-nowrap;
    @apply align-top;
}

table.dataGrid .dataGrid__code {
    @apply whitespace-pre-wrap;
    @apply text-sm;
    @apply font-mono;
    @apply text-gray-500;
}
